# .NET Build & Temp
**/[Bb]in/
**/[Oo]bj/
.vs/
.vscode/
*.user
*.suo

# Operating System
.DS_Store
Thumbs.db

# Keystore signing (jangan pernah commit)
*.keystore
*.jks
apps/mobile/hypen-release.keystore
